<form [formGroup]="formulario">
    <div class="form-row form-group" id="rowZero">
        <img *ngIf="user != null" id="imgUser" src="{{user?.user?.photoURL}}" class="rounded float-center" alt="...">
    </div>
    <div class="form-row form-group" id="rowUm">
      <div class="col-md-6 mb-3">
        <label for="validationServer01">Nome Proprietário da BarberShop</label>
        <input type="text" class="form-control" formControlName="nomeProprietario" id="validationServer01" placeholder="Digite seu Nome...">
      </div>
      <div class="col-md-6 mb-3">
          <label for="validationServer02">Nome da BarberShop</label>
          <input type="text" class="form-control" formControlName="nomeBarberShop" id="validationServer02" placeholder="Digite o nome da sua BarberShop...">
         
        </div>
    </div>
    <div class="form-row form-group" id="rowDois">
        <div class="col-md-3 mb-3">
            <label for="validationServer05">Cep</label>
            <input type="text" class="form-control" formControlName="cepBarberShop" id="validationServer05" placeholder="CEP">
        </div>
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Endereço da BarberShop</label>
        <input type="text" class="form-control" formControlName="enderecoBarberShop" id="validationServer03" placeholder="Digite o Endereço...">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer04">Serviços</label>
        <select class="custom-select" formControlName="servicos">
            <option selected>Selecione os Serviços prestados...</option>
            <option value="Cabelo">Cabelo</option>
            <option value="Barba">Barba</option>
            <option value="Cabelo e Barba">Cabelo e Barba</option>
          </select>
      </div>
    </div>
    <div class="form-row form-group" id="rowTres">
        <div class="col-md-12 mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" id="validationServer05" placeholder="Email">
        </div>
    </div>
    <div class="form-row form-group" id="rowCinco">
        
        <div class="col-md-6 mb-3">
          <label>Horário que Abre o BarberShop</label>
          <input type="number" class="form-control" formControlName="horario_de" placeholder="Hora Abre">
        </div>
        <div class="col-md-6 mb-3"> 
            <label>Horário que Fecha o BarberShop</label>
          <input type="number" class="form-control" formControlName="horario_ate" placeholder="Hora Fecha">
        </div>
      </div>
    <div class="form-row form-group" id="rowCinco">
      <input type="file" (change)="imgSelecionada($event)" formControlName="fotos">
      <button class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
    </div>
    
  </form>