#imgUser{
    text-align: center;
    width: 100px;
    height: 100px;
}
#nomeUser{
    text-align: left;
}
#divPrincipal{
    padding-bottom: 500px;
}

#menuLateral{
    background-color: white;
    text-align: center;
    padding-bottom: 100%
}
#divUser{
    text-align: center;
}
.sidebar-sticky{
    background-color: white;
    padding-bottom: 100%;
    height: 100%;
}

#imgUser{
    position: relative;
    text-align: center;
}

#menuUsuario{
    text-align: center;
}

.sidebar-sticky{
    margin-top: 18px;
}

#agendamentos{
    text-align: left;
}

#minhaBarbearia{
    text-align: left;
}