<app-navbar></app-navbar>
  <div class="row" id="row">
      <div class="col-xl-2 col-sm-2 mb-12" style="text-align: left;">
          <app-menu-lateral></app-menu-lateral>
      </div>
      <br>
      <div class="col-xl-4 col-md-7 col-sm-7 mb-12" style="text-align: left;">
        <img id="imgBarber" src="{{fotoBarbearia}}" class="rounded float-center" alt="...">
      </div>
      <div class="col-xl-6 col-md-3 col-sm-3 mb-12" style="text-align: left;">
        <br>
        <div class="row">
          <h3>Nome da Barbearia:</h3>
        </div>
        <br> 
        <div class="row">
        <h4>{{minhaBarbearia.nome}}</h4>
        </div>
        <br>
        <div class="row">
            <h3>CEP:</h3>
          </div> 
          <div class="row">
          <h4>{{minhaBarbearia.cepBarberShop}}</h4>
          </div>
          <br>
          <div class="row">
              <h3>Horário de Atendimento:</h3>
            </div> 
            <div class="row">
            <h4>Das {{minhaBarbearia.horario_de}} as {{minhaBarbearia.horario_ate}} horas.</h4>
            </div>
            <br>
            <div class="row">
                <h3>Nome do Proprietário:</h3>
              </div> 
              <div class="row">
              <h4>{{minhaBarbearia.nomeProprietario}}</h4>
              </div>
      </div>
      
</div>
