#imgUser{
    width: 500px;
    height: 500px;
    margin-bottom: 200px; 
}
#row{
    margin-top: 50px;
    padding-bottom: 30px;
    padding-bottom: 100%;
}
#imgBarber{
    margin-top: 2%;
    margin-left: 1%;
    height: 400px;
    width: 400px;

}