#imgUser{
    width: 500px;
    height: 500px;
    margin-bottom: 200px; 
}
#row{
    margin-top: 50px;
    padding-bottom: 30px;
    padding-bottom: 100%;
}
#carousel{
    margin-top: 150px;
    padding-left: 50%;
    padding-right: 15%;
}