#cards{
    margin-top: 200px;
}

#footer{
    color: white;
}
#textoFuncionarios{
    color: white;
}
.nav-bar{
    color: #9a514a;
}
#imgUser{
    text-align: center;
    width: 100px;
    height: 100px;
}
#nomeUser{
    text-align: left;
}